* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* Regole Header */

header{
    background-color: darkblue;
}

.header-container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}


.img-container-header{
    display: flex;
    justify-content:space-between;
    width: 40%;

}

.titolo-header{
    padding-top: 30px;
    padding-bottom: 10px;
    color: lightgrey;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-header-container{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.p-header{
    font-size: 12px;
}

.h4-header{
    color: lightgrey;
}


